<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>

<banner>
<h1>Log in</h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<ul style= "list-style-type: none; color: red; padding-left: 0; font-weight: bold;">
    <li>
        <%= flash[:errors] %>
    </li>
</ul>

<%= form_with model: @member, url: login_path, method: :post do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :Password %>
    <%= f.password_field :password %> <br><br>
    <%= f.submit "Log in" %>
    <% end %>
</body>
</html>