<!DOCTYPE html>
<html>
<head>
<title>Fitness Coaches</title>
<%= stylesheet_link_tag 'fitness_coaches' %>
</head>
    
<body>

<banner>
<h1>Fitness Coaches</h1>
    <nav>
        <ul>
            <li class="active"><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>


<div class="sidenav">
<h2 style="color: rgb(8, 189, 23); text-align: center; font-size: 1.2em;">Our Coaches:</h2>
    <% @fitnesscoaches.each do |fitnesscoach| %>
        <li>
            <%= link_to fitnesscoach.name, fitnesscoach %>
        </li>
    <% end %>
</div>


<div class="main">
    <h2>--Fitness Coach Shoutouts--</h2>

    <p>Lozano's Strong Arm(Coach with most arm workout sessions) <br>
     <%= FitnessCoach.strong_arm.name%><p>

     <p> Lozano's Bug Squasher(Coach with most leg workout sessions)<br>
     <%= FitnessCoach.bug_squasher.name%><p>

     <p> Lozano Coach Mvp(most scheduled)<br>
     <%= FitnessCoach.mvp.name%><p>

    <%= button_to "Create Fitness Coach", '/fitness_coaches/new', method: :get%>
</div>    
</body>
    
</html>