<h1>Fitness Trainer <%= @fitnesscoach.name %></h1>
<hr>

<h2> <%= @fitnesscoach.name %>'s Age</h2>
<ul style= "list-style-type: none;">
    <%= @fitnesscoach.age %>
</ul>

<h2> <%= @fitnesscoach.name %>'s Current Sessions</h2>
<ul style= "list-style-type: none;">
    <% @fitnesscoach.training_sessions.each do |session| %>
        <li>
            <%= session.member.name %> for <%= session.workout_type.name %>
        </li>
    <% end %>
</ul>

 <h2> <%= @fitnesscoach.name %> has coached <%= @fitnesscoach.num_arms %> arm sessions and <%= @fitnesscoach.num_legs %> leg sessions! </h2>

