<!DOCTYPE html>
<html>
<head>
<title>Coach Info</title>
</head>

<body>

<banner>
<h1>Fitness Trainer <%= @fitnesscoach.name %></h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<div>
    <h2> Age</h2>
    <ul style="list-style-type: none;">
        <li>
            <%= @fitnesscoach.age %>
        </li>
    </ul>
</div>

<div>
    <h2> Current Sessions</h2>
    <ul style= "list-style-type: none;">
        <% @fitnesscoach.training_sessions.each do |session| %>
            <li>
                <%= link_to session.member.name, session.member %> for <%= link_to session.workout_type.name, session.workout_type %>
            </li>
        <% end %>
    </ul>
<div>

<div>
    <h2><%= @fitnesscoach.name %>'s stats:</h2>
    <ul>
        <h3><%= @fitnesscoach.num_arms %> arm session(s)<br>
        <%= @fitnesscoach.num_legs %> leg session(s)! </h3>
    </ul>
</div>

<br>
<%= button_to "Delete", @fitnesscoach, method: :delete %>
<br>
<%= button_to "Edit", edit_fitness_coach_path, method: :get %>
</body>

</html>
