<!DOCTYPE html>
<html>
<head>
<title>Work Outs</title>
</head>

<body>

<banner>
<h1>Workout Types</h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li class="active"><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<div class="sidenav">
<h2 style="color: rgb(8, 189, 23); text-align: center; font-size: 1.2em;">Our Work Outs:</h2>
    <% @workouttypes.each do |workout| %>
        <li>
            <%= link_to workout.name, workout %>
        </li>
    <% end %>
</div>

<div class="main">

</div>

</body>

</html>
