
<!DOCTYPE html>
<html>
<head>
<title>Training Sessions</title>
</head>

<body>

<banner>
<h1>Training Sessions</h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<div>
    <ul style= "list-style-type: none;">
        <% @trainingsessions.each do |session| %>
            <li>
                <%= link_to session.name, session %>
            </li>
        <% end %>
    </ul>
</div>

</body>

</html>

