<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
 
<banner>
<h1>New Training Session</h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<%= form_with model: @trainingsession do |f| %>
    <%= f.label :Member %>
    <%= f.collection_select(:member_id, @members, :id, :name) %><br><br>
    <%= f.label :Coach %>
    <%= f.collection_select(:fitness_coach_id, @coaches, :id, :name) %><br><br>
    <%= f.label :Workout %>
    <%= f.collection_select(:workout_type_id, @workout, :id, :name) %><br><br>
    <%= f.label :Gym %>
    <%= f.collection_select(:gym_id, @gym, :id, :name) %><br><br>

    <%= f.submit %>
    <% end %>
</body>

</html>
    

