<!DOCTYPE html>
<html>
<head>
<title>Training Session Info</title>
</head>

<body>

<banner>
<h1><%= @trainingsession.name %>'s Training Session</h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<div>
    <h2>Work Out:</h2>
    <ul>
        <li>
            <%= link_to @trainingsession.workout_type.name, @trainingsession.workout_type  %>
        </li>
    </ul>
</div>

<div>
    <h2>Gym:</h2>
    <ul>
        <li>
            <%= link_to @trainingsession.gym.name, @trainingsession.gym %>
        </li>
    </ul>
</div>

</body>

</html>