<!DOCTYPE html>
<html>
<head>
<title>Members</title>
</head>
    
<body>

<banner>
<h1>Members</h1>
    <nav>
        <ul>
            <li><%= link_to "Fitness Coaches", '/fitness_coaches', method: :get %></li>
            <li class="active"><%= link_to "Members", '/members', method: :get %></li>
            <li><%= link_to "Gyms", '/gyms', method: :get %></li>
            <li><%= link_to "Work Outs", '/workout_types', method: :get %></li>
            <li><%= link_to "Training Sessions", '/training_sessions', method: :get %></li>
        </ul>
    </nav>
</banner>

<div class="sidenav">
<h2 style="color: rgb(8, 189, 23); text-align: center; font-size: 1.2em;">Our Members:</h2>
    <% @members.each do |member| %>
        <li>
            <%= link_to member.name, member %>
        </li>
    <% end %>
</div>

<div class="main">
<h2>--Fitness Coach Shoutouts--</h2>

<p> Our member with the most sessions: <br>
<%= Member.most_liked_member.name %> <p>


<%= Member.the_wisest %> <br>
<br>

<%= Member.young_buck %>

<%= button_to "create member", '/members/new', method: :get %>
</div>
</body>
    
</html>