<h1><%= @member.name %></h1>
<hr>

<h2><%= @member.name %>'s Fitness Coaches</h2>
<ul style= "list-style-type: none;">
    <% @member.fitness_coaches.each do |coach| %>
        <li>
            <%= coach.name %>
        </li>
    <% end %>
</ul>

<h2><%= @member.name %>'s Work Outs</h2>
<ul style= "list-style-type: none;">
    <% @member.training_sessions.each do |session| %>
        <li>
            <%= session.workout_type.name %>
        </li>
    <% end %>
</ul>